@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

/****************** HEADER ******************/

header {
  background-color: #81C14B;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 15px;
}

header a img {
  margin: 1em;
  flex-grow: 1;
}

header h1 {
  flex-grow: 4;
}

#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	color: #fff;
  flex-grow: .5;
}

#menu::before {
	content: "≡";
}

.primaryNav {
	list-style: none;
	margin: 0 auto;
  padding: 0;
}

.primaryNav li {
	display: none;
}
.primaryNav a {
	display: block;
	padding: 2rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.primaryNav a:hover, navigation a:active {
	color: white;
	background-color: rgba(0,0,0,0.1);
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

/******************* MAIN *******************/

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

main div {
  border: 1px solid;
  border-radius: 15px;
  padding: 1em;
  margin: 1em;
}

/************* ABOUT US - FORMAT ************/

#about-us-intro {
  text-align: left;
}

/************* FITNESS FORMAT ***************/
.page-links {
  text-decoration: none;
  color: #000;
}

/************* PAGE LINKS FORMAT ************/

ul {
  text-align: left;
}

/****************** FOOTER ******************/

footer {
  background-color: #81C14B;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}