@media (min-width: 32.5em) {
    /****************** HEADER ******************/
    


    main {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	figure {
		grid-column: 1/4;
	}

	#home-text {
		grid-column: 1/4;
	}
}