@media (min-width: 32.5em) {
	body {
		max-width: 80%;
		margin: 0 auto;
	}
	#menu {
		display: none;
	}

	nav {
        line-height: 3em;
        text-align: center;
        font-size: 1.2em;
        grid-column: 4/6;
        grid-row: 1/2;
        border: none;
        margin-right: 1em;
    }


    nav ul {
        display: block;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
        margin: 0;
	}
}