@media (min-width: 32.5em) {
	body {
		max-width: 80%;
		margin: 0 auto;
	}

    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}